{% extends "projectxapp/base.html" %}
{% block titulo %}
    {{proyecto.titulo}}
{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
              <p class="text-left">Descripción: {{proyecto.descripcion}}</p>
              <p class="text-left">Arquitecto: {{arquitecto.first_name}} {{arquitecto.last_name}}</p>
              <a class="btn btn-primary btn-round" href="/tareas/crear/{{proyecto.id}}" style="display: block; margin: 0 auto; width:100%;">Crear tarea</a>
          <br>
          <br>

          {% if tareas %}
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class=" text-primary">
              <th>Nombre de la tarea</th>
              <th>Acciones</th>
            </thead>
            <br>
            <br>
            <tbody>
              {% for tarea in tareas %}
              <tr>
                  <td>{{ tarea.titulo }}</td>
                  <td>
                    <button onclick="window.location.href='/tareadetalles/{{tarea.id}}/'" type="button" class="btn btn-primary">Ver</button>
                    <button onclick="window.location.href='/borrartarea/{{tarea.id}}/{{proyecto.id}}/'" type="button" class="btn btn-danger">Eliminar</button>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <h3>Este proyecto aún no tiene tareas</h3>
          {% endif %}


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
